---
import Circle from "../components/circle.astro";
import Top from "../components/top.astro";
import "../styles/base.css";
---

<div class="splash">
	<div class="text">
		The
		<h1 class="fancy">Narrow One</h1>
		Leader Board
	</div>
</div>

<h1 class="fancy">Most Kills</h1>
<Circle position="1" width="300px" player="JESPER" stat="5.3M" />
<Top />
