---
import Layout from "../layouts/Layout.astro";
import Top3 from "../components/top3.astro";
import Top from "../components/top.astro";
import "../styles/base.css";

const url = "https://n1-lb.vercel.app/api/lb";
var stat = "kills";

const options = {
	method: "POST",
	headers: { "content-type": "application/json" },
	body: `{"stat":"${stat}","x":10}`,
};

try {
	var startTime = performance.now()
	const response = await fetch(url, options);
	var endTime = performance.now()
	console.log("Time taken to process request: " + (endTime - startTime) + "ms")
	var data = await response.json();
	// console.log(data);
} catch (error) {
	console.error(error);
}
---

<Layout title="N1 lb">
	<div class="splash">
		<div class="text">
			The
			<h1 class="title">Narrow One</h1>
			Leader Board
		</div>
	</div>
	
	
	<h1 class="title">Most Kills</h1>
	<Top3 />
	
	<Top users={data} stat="kills"/>
</Layout>
