---
interface Props {
	position: string;
	width: string;
	player: string;
	stat: string;
}

var { position, width, player, stat } = Astro.props;
var ring_color = "";
var border_thickness = "";

if (position === "1") {
	ring_color = "#FFCF23";
} else if (position === "2") {
	ring_color = "#C0C0C0";
} else {
	ring_color = "#CD7F32";
}
border_thickness = parseInt(width.split("px")[0]) / 30 + "px";
---

<div class="circle">
	<div class="medal">
		<div class="position">
			<div>
				{position}
			</div>
		</div>
	</div>

	<div class="player">
		{player}
	</div>
	<div class="stat">
		{stat}
	</div>
</div>
<style define:vars={{ ring_color, border_thickness }}>
	:root {
		--width: calc(100vw / 5);
	}
	div.circle {
		color: white;
		/* width: var(--width); */
		width: fit-content;
	}
	div.medal {
		position: relative;
		width: var(--width);
		height: var(--width);
		flex-shrink: 0;
		border-radius: 450px;
		color: #000;
		border: var(--border_thickness) solid var(--ring_color);
		background-image: url("/skin.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-color: rgba(195, 219, 197, 0.5);
		display: flex;
		justify-content: center;
	}
	div.position {
		border: calc(var(--border_thickness) / 10) solid #000;
		width: min-content;
		flex-shrink: 0;
		/* padding: 5px 15px; */
		width: calc(80vw / 35 + 30px);
		height: calc(80vw / 35 + 30px);
		position: absolute;
		bottom: -10%;
		line-height: calc(var(--width) / 7);
		/* margin: 15px; */
		border-radius: 999px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: calc(2vw + 25px);
		background-color: var(--ring_color);
	}
	div.player {
		text-align: center;
		vertical-align: middle;
		font-size: 4.6vw;
		margin: 10px;
		margin-top: 30px;
	}
	div.stat {
		width: fit-content;
		margin: auto;
		text-align: center;
		font-size: 3.12vw;
		padding: 20px;
		background-color: rgba(121, 121, 121, 0.3);
		border-radius: 20px;
	}
</style>
