---
import Horizontal from "./horizontal.astro";
---

<div class="wrapper">
	<Horizontal position="1" player="Jesper" stat="3.6M" />
    <Horizontal position="1" player="Jesper" stat="3.6M" />
    <Horizontal position="1" player="JesperJesperJesperJesperJesperJesper" stat="3.6M" />
</div>

<style>
	div.wrapper {
        margin: auto;
		padding: 60px;
        display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 38px;
		border-radius: 69px;
		background: #252a40;
		width: 80%;
	}
</style>
