---
import Horizontal from "./horizontal.astro";
import { abbreviateNumber } from "../lib/abbr.js";
interface Props {
	users: Array<any>;
	stat: string;
}
var {users, stat } = Astro.props;

---

<div class="wrapper">
	<!-- loop over each object and add a element for each value -->
	{
		users.map((player, index) => (
			<Horizontal
				position={(index+1).toString()}
				player={player.username}
				stat={abbreviateNumber(player.stats[stat])}
			/>
		))
	}
	<!-- <Horizontal position="1" player="Jesper" stat="3.6M" /> -->
</div>

<style>
	div.wrapper {
		margin: auto;
		padding: 60px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 38px;
		border-radius: 69px;
		background: #252a40;
		width: 80%;
	}
</style>
